
  {
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "printWidth": 80,
    "bracketSameLine": true,
    "useTabs": true
  }
  
